In [58]:
import sys

In [59]:
sys.path.append('./src')

In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('./data/fraud.csv')

In [62]:
sampled_df = df.sample(n=100, ignore_index=True, random_state= 42)
sampled_df.drop('is_fraud', axis = 1, inplace= True)
sampled_df

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,2019-09-26 21:08:12,4586810168620942,fraud_Watsica LLC,personal_care,65.19,Michelle,Gregory,F,6983 Carrillo Isle,Edisto Island,...,29438,32.5486,-80.3070,2408,"Sales professional, IT",1997-07-05,1db1ce0671992a023fed2e4ba49bf29d,1348693692,32.151903,-81.079620
1,2020-07-20 14:49:23,3502088871723054,fraud_Bernhard-Lesch,food_dining,15.76,Scott,Martin,M,31472 Cody Place Suite 740,Kensington,...,20895,39.0298,-77.0793,19054,Operations geologist,1976-09-08,6e2aafcb33abd3a716d320573ee2e6f7,1374331763,39.666678,-76.272527
2,2019-06-02 14:38:01,6011893664860915,"fraud_Ruecker, Beer and Collier",shopping_net,66.33,Erin,Chavez,F,3379 Williams Common,Littleton,...,80120,39.5994,-105.0044,320420,Water engineer,1975-07-31,d032b8ea99af2af95ac989c875b7a96d,1338647881,40.009789,-104.423821
3,2019-12-10 13:12:18,3583635130604947,"fraud_Mueller, Gerhold and Mueller",health_fitness,54.97,Crystal,Gamble,F,899 Michele View Suite 960,Philadelphia,...,19149,40.0369,-75.0664,1526206,Structural engineer,1985-01-01,6bbec133456c2ead957f87c3385987f5,1355145138,39.988308,-75.324425
4,2019-03-20 15:34:01,372520049757633,fraud_Koelpin and Sons,misc_net,127.33,Lori,Ramirez,F,4293 Ramirez Squares,Ranier,...,56668,48.6031,-93.2977,136,Ceramics designer,2000-02-20,94002d99d62cc5286b718c66a420cdf2,1332257641,47.709857,-93.083608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-12-08 22:13:44,676372984911,fraud_Frami Group,entertainment,15.93,Vicki,Mendoza,F,3645 Atkins Island Apt. 238,Esbon,...,66941,39.7562,-98.4462,242,Tourism officer,1987-07-18,6a1fbcf9064c4255161637e574bf7ac7,1355004824,39.034667,-97.726968
96,2020-07-08 12:02:51,4003989662068504,fraud_Erdman-Schaden,personal_care,19.79,Chris,White,M,98897 Bennett Lodge,Bessemer,...,35022,33.3224,-86.9657,71463,Radio broadcast assistant,1989-02-08,b2a300f94623e3c29fffd2c8170cbf80,1373284971,32.544064,-86.390771
97,2019-07-07 23:10:54,3553629419254918,fraud_Kertzmann LLC,health_fitness,19.61,Sharon,Johnson,F,7202 Jeffrey Mills,Conway,...,98238,48.3400,-122.3456,85,"Research officer, political party",1984-09-01,1662764140cab95762820a470880aede,1341702654,47.986531,-121.508324
98,2020-05-05 16:59:57,30551643947183,fraud_Cruickshank-Mills,entertainment,103.87,Morgan,Smith,F,1441 Bradley Place,Grover,...,28073,35.1836,-81.4552,5621,Toxicologist,1973-11-14,9abe78251d7421e1bdce07987cb1b28f,1367773197,34.481424,-81.556253
99,2020-04-05 06:29:40,30131826429364,fraud_Doyle Ltd,grocery_pos,186.03,Brianna,Foley,F,57256 Raymond Ports,Knoxville,...,37932,35.9335,-84.1481,391389,"Designer, industrial/product",1994-04-22,85b77205a28e08f1c78f6922c756de39,1365143380,35.788308,-84.410438

In [63]:
def drop_func(data):
    data.drop(['merchant','first','last','street','city','state','zip','job','trans_num','unix_time'], axis = 1, inplace= True)
    return data

In [64]:
sampled_df = drop_func(sampled_df)

In [65]:
sampled_df.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long
0,2019-09-26 21:08:12,4586810168620942,personal_care,65.19,F,32.5486,-80.3070,2408,1997-07-05,32.151903,-81.079620
1,2020-07-20 14:49:23,3502088871723054,food_dining,15.76,M,39.0298,-77.0793,19054,1976-09-08,39.666678,-76.272527
2,2019-06-02 14:38:01,6011893664860915,shopping_net,66.33,F,39.5994,-105.0044,320420,1975-07-31,40.009789,-104.423821
3,2019-12-10 13:12:18,3583635130604947,health_fitness,54.97,F,40.0369,-75.0664,1526206,1985-01-01,39.988308,-75.324425
4,2019-03-20 15:34:01,372520049757633,misc_net,127.33,F,48.6031,-93.2977,136,2000-02-20,47.709857,-93.083608

In [66]:
def amt_z_func(data):
    amt_info = pd.read_pickle('./src/amt_info.pkl')
    data = data.merge(amt_info, on='cc_num', how='left')
    data['amt_z'] = (data['amt'] - data['mean']) / data['std']
    data.drop(['mean','std'], axis = 1, inplace = True)

    cat_info=pd.read_pickle('./src/cat_info.pkl')
    data = data.merge(cat_info, on='cc_num', how='left')
    data['cat_amt_z'] = (data['amt'] - data['mean']) / data['std']
    data.drop(['mean','std'], axis =1 , inplace = True)
    
    return data

In [67]:
sampled_df = amt_z_func(sampled_df)

In [68]:
sampled_df.head()

,trans_date_trans_time,cc_num,category_x,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,amt_z,category_y,cat_amt_z
0,2019-09-26 21:08:12,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,entertainment,-0.891566
1,2019-09-26 21:08:12,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,food_dining,0.736203
2,2019-09-26 21:08:12,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,gas_transport,0.364960
3,2019-09-26 21:08:12,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,grocery_net,1.724894
4,2019-09-26 21:08:12,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,grocery_pos,-0.013625

In [69]:
def hour_func(data):
    data['hour'] = pd.to_datetime(data['trans_date_trans_time']).dt.hour

    def hour_func(x):
        if (x >= 6) & (x < 12):
            return 'morning'
        elif (x >= 12) & (x < 18):
            return 'afternoon'
        elif (x >= 18) & (x < 23):
            return 'night'
        else:
            return 'evening'

    data['hour_cat'] = data['hour'].apply(hour_func)
    hour_cnt = pd.read_pickle('./src/hour_cnt.pkl')

    data = data.merge(hour_cnt, on=['cc_num', 'hour_cat'], how='left')
    data.drop(['trans_date_trans_time', 'hour', 'hour_cat'], axis =1 , inplace = True)

    return data

In [70]:
sampled_df = hour_func(sampled_df)

In [71]:
sampled_df.head()

,cc_num,category_x,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,amt_z,category_y,cat_amt_z,hour_perc
0,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,entertainment,-0.891566,0.323221
1,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,food_dining,0.736203,0.323221
2,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,gas_transport,0.364960,0.323221
3,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,grocery_net,1.724894,0.323221
4,4586810168620942,personal_care,65.19,F,32.5486,-80.307,2408,1997-07-05,32.151903,-81.07962,-0.099555,grocery_pos,-0.013625,0.323221

In [74]:
from geopy.distance import distance
from datetime import datetime

def dist_func(data):
    data['distance'] = data.apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis = 1)
    dist_info = pd.read_pickle('./src/dist_info.pkl')

    data = data.merge(dist_info, on='cc_num', how='left')
    data['dist_z'] = (data['distance'] - data['mean']) / data['std']
    data.drop(['lat', 'long', 'merch_lat', 'merch_long', 'mean', 'std'], axis=1, inplace=True)

    return data

In [75]:
sampled_df = dist_func(sampled_df)

In [76]:
sampled_df.head()

,cc_num,category_x,amt,gender,city_pop,dob,amt_z,category_y,cat_amt_z,hour_perc,distance,dist_z
0,4586810168620942,personal_care,65.19,F,2408,1997-07-05,-0.099555,entertainment,-0.891566,0.323221,84.997351,0.234272
1,4586810168620942,personal_care,65.19,F,2408,1997-07-05,-0.099555,food_dining,0.736203,0.323221,84.997351,0.234272
2,4586810168620942,personal_care,65.19,F,2408,1997-07-05,-0.099555,gas_transport,0.364960,0.323221,84.997351,0.234272
3,4586810168620942,personal_care,65.19,F,2408,1997-07-05,-0.099555,grocery_net,1.724894,0.323221,84.997351,0.234272
4,4586810168620942,personal_care,65.19,F,2408,1997-07-05,-0.099555,grocery_pos,-0.013625,0.323221,84.997351,0.234272

In [81]:
def age_func(data):
    data['dob']=pd.to_datetime(data['dob']).dt.year
    return data

In [82]:
sampled_df = age_func(sampled_df)

In [83]:
sampled_df.head()

,cc_num,category_x,amt,gender,city_pop,dob,amt_z,category_y,cat_amt_z,hour_perc,distance,dist_z
0,4586810168620942,personal_care,65.19,F,2408,1997,-0.099555,entertainment,-0.891566,0.323221,84.997351,0.234272
1,4586810168620942,personal_care,65.19,F,2408,1997,-0.099555,food_dining,0.736203,0.323221,84.997351,0.234272
2,4586810168620942,personal_care,65.19,F,2408,1997,-0.099555,gas_transport,0.364960,0.323221,84.997351,0.234272
3,4586810168620942,personal_care,65.19,F,2408,1997,-0.099555,grocery_net,1.724894,0.323221,84.997351,0.234272
4,4586810168620942,personal_care,65.19,F,2408,1997,-0.099555,grocery_pos,-0.013625,0.323221,84.997351,0.234272

In [86]:
def one_func(data):
    data = pd.get_dummies(data, drop_first=True)
    data.drop('cc_num', axis = 1, inplace = True)

    return data

In [87]:
sampled_df = one_func(sampled_df)

In [88]:
sampled_df.head()

,amt,city_pop,dob,amt_z,cat_amt_z,hour_perc,distance,dist_z,category_x_food_dining,category_x_gas_transport,...,category_y_grocery_pos,category_y_health_fitness,category_y_home,category_y_kids_pets,category_y_misc_net,category_y_misc_pos,category_y_personal_care,category_y_shopping_net,category_y_shopping_pos,category_y_travel
0,65.19,2408,1997,-0.099555,-0.891566,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
1,65.19,2408,1997,-0.099555,0.736203,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
2,65.19,2408,1997,-0.099555,0.364960,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
3,65.19,2408,1997,-0.099555,1.724894,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
4,65.19,2408,1997,-0.099555,-0.013625,0.323221,84.997351,0.234272,False,False,...,True,False,False,False,False,False,False,False,False,False

In [25]:
import sys
import pandas as pd

In [26]:
df = pd.read_csv('./data/fraud.csv')

In [27]:
sampled_df = df.sample(n=100, ignore_index=True, random_state= 42)
sampled_df.drop('is_fraud', axis = 1, inplace= True)
sampled_df

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,2019-09-26 21:08:12,4586810168620942,fraud_Watsica LLC,personal_care,65.19,Michelle,Gregory,F,6983 Carrillo Isle,Edisto Island,...,29438,32.5486,-80.3070,2408,"Sales professional, IT",1997-07-05,1db1ce0671992a023fed2e4ba49bf29d,1348693692,32.151903,-81.079620
1,2020-07-20 14:49:23,3502088871723054,fraud_Bernhard-Lesch,food_dining,15.76,Scott,Martin,M,31472 Cody Place Suite 740,Kensington,...,20895,39.0298,-77.0793,19054,Operations geologist,1976-09-08,6e2aafcb33abd3a716d320573ee2e6f7,1374331763,39.666678,-76.272527
2,2019-06-02 14:38:01,6011893664860915,"fraud_Ruecker, Beer and Collier",shopping_net,66.33,Erin,Chavez,F,3379 Williams Common,Littleton,...,80120,39.5994,-105.0044,320420,Water engineer,1975-07-31,d032b8ea99af2af95ac989c875b7a96d,1338647881,40.009789,-104.423821
3,2019-12-10 13:12:18,3583635130604947,"fraud_Mueller, Gerhold and Mueller",health_fitness,54.97,Crystal,Gamble,F,899 Michele View Suite 960,Philadelphia,...,19149,40.0369,-75.0664,1526206,Structural engineer,1985-01-01,6bbec133456c2ead957f87c3385987f5,1355145138,39.988308,-75.324425
4,2019-03-20 15:34:01,372520049757633,fraud_Koelpin and Sons,misc_net,127.33,Lori,Ramirez,F,4293 Ramirez Squares,Ranier,...,56668,48.6031,-93.2977,136,Ceramics designer,2000-02-20,94002d99d62cc5286b718c66a420cdf2,1332257641,47.709857,-93.083608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-12-08 22:13:44,676372984911,fraud_Frami Group,entertainment,15.93,Vicki,Mendoza,F,3645 Atkins Island Apt. 238,Esbon,...,66941,39.7562,-98.4462,242,Tourism officer,1987-07-18,6a1fbcf9064c4255161637e574bf7ac7,1355004824,39.034667,-97.726968
96,2020-07-08 12:02:51,4003989662068504,fraud_Erdman-Schaden,personal_care,19.79,Chris,White,M,98897 Bennett Lodge,Bessemer,...,35022,33.3224,-86.9657,71463,Radio broadcast assistant,1989-02-08,b2a300f94623e3c29fffd2c8170cbf80,1373284971,32.544064,-86.390771
97,2019-07-07 23:10:54,3553629419254918,fraud_Kertzmann LLC,health_fitness,19.61,Sharon,Johnson,F,7202 Jeffrey Mills,Conway,...,98238,48.3400,-122.3456,85,"Research officer, political party",1984-09-01,1662764140cab95762820a470880aede,1341702654,47.986531,-121.508324
98,2020-05-05 16:59:57,30551643947183,fraud_Cruickshank-Mills,entertainment,103.87,Morgan,Smith,F,1441 Bradley Place,Grover,...,28073,35.1836,-81.4552,5621,Toxicologist,1973-11-14,9abe78251d7421e1bdce07987cb1b28f,1367773197,34.481424,-81.556253
99,2020-04-05 06:29:40,30131826429364,fraud_Doyle Ltd,grocery_pos,186.03,Brianna,Foley,F,57256 Raymond Ports,Knoxville,...,37932,35.9335,-84.1481,391389,"Designer, industrial/product",1994-04-22,85b77205a28e08f1c78f6922c756de39,1365143380,35.788308,-84.410438

In [28]:
sys.path.append('./src')

In [29]:
# 2. 전처리 함수들 import
from drop_func import drop_func
from amt_z_func import amt_z_func
from hour_func import hour_func
from dist_func import dist_func
from age_func import age_func
from one_func import one_func

# 3. 전처리 실행
sampled_df = drop_func(sampled_df)
sampled_df = amt_z_func(sampled_df)
sampled_df = hour_func(sampled_df)
sampled_df = dist_func(sampled_df)
sampled_df = age_func(sampled_df)
sampled_df = one_func(sampled_df)

In [15]:
from drop_func import drop_func
from amt_z_func import amt_z_func
from hour_func import hour_func
from dist_func import dist_func
from age_func import age_func
from one_func import one_func


def pre_func(data):
    data = drop_func(data)
    data = amt_z_func(data)
    data = hour_func(data)
    data = dist_func(data)
    data = age_func(data)
    data = one_func(data)

    return data

In [30]:
sampled_df.columns

Index(['amt', 'city_pop', 'dob', 'amt_z', 'cat_amt_z', 'hour_perc', 'distance',
       'dist_z', 'category_x_food_dining', 'category_x_gas_transport',
       'category_x_grocery_net', 'category_x_grocery_pos',
       'category_x_health_fitness', 'category_x_home', 'category_x_kids_pets',
       'category_x_misc_net', 'category_x_misc_pos',
       'category_x_personal_care', 'category_x_shopping_net',
       'category_x_shopping_pos', 'category_x_travel', 'gender_M',
       'category_y_food_dining', 'category_y_gas_transport',
       'category_y_grocery_net', 'category_y_grocery_pos',
       'category_y_health_fitness', 'category_y_home', 'category_y_kids_pets',
       'category_y_misc_net', 'category_y_misc_pos',
       'category_y_personal_care', 'category_y_shopping_net',
       'category_y_shopping_pos', 'category_y_travel'],
      dtype='object')

In [31]:
sampled_df.head()

,amt,city_pop,dob,amt_z,cat_amt_z,hour_perc,distance,dist_z,category_x_food_dining,category_x_gas_transport,...,category_y_grocery_pos,category_y_health_fitness,category_y_home,category_y_kids_pets,category_y_misc_net,category_y_misc_pos,category_y_personal_care,category_y_shopping_net,category_y_shopping_pos,category_y_travel
0,65.19,2408,1997,-0.099555,-0.891566,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
1,65.19,2408,1997,-0.099555,0.736203,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
2,65.19,2408,1997,-0.099555,0.364960,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
3,65.19,2408,1997,-0.099555,1.724894,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
4,65.19,2408,1997,-0.099555,-0.013625,0.323221,84.997351,0.234272,False,False,...,True,False,False,False,False,False,False,False,False,False

In [59]:
script = '''
from drop_func import drop_func
from amt_z_func import amt_z_func
from hour_func import hour_func
from dist_func import dist_func
from age_func import age_func
from one_func import one_func


def pre_func(data):
    data = drop_func(data)
    data = amt_z_func(data)
    data = hour_func(data)
    data = dist_func(data)
    data = age_func(data)
    data = one_func(data)

    return data
'''

In [60]:
filename = './src/pre_func.py'

with open(filename, 'w') as file:
    file.write(script)

In [1]:
import sys
import pandas as pd

In [2]:
df = pd.read_csv('./data/fraud.csv')

In [3]:
sampled_df = df.sample(n=100, ignore_index=True, random_state= 42)
sampled_df.drop('is_fraud', axis = 1, inplace= True)
sampled_df

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long
0,2019-09-26 21:08:12,4586810168620942,fraud_Watsica LLC,personal_care,65.19,Michelle,Gregory,F,6983 Carrillo Isle,Edisto Island,...,29438,32.5486,-80.3070,2408,"Sales professional, IT",1997-07-05,1db1ce0671992a023fed2e4ba49bf29d,1348693692,32.151903,-81.079620
1,2020-07-20 14:49:23,3502088871723054,fraud_Bernhard-Lesch,food_dining,15.76,Scott,Martin,M,31472 Cody Place Suite 740,Kensington,...,20895,39.0298,-77.0793,19054,Operations geologist,1976-09-08,6e2aafcb33abd3a716d320573ee2e6f7,1374331763,39.666678,-76.272527
2,2019-06-02 14:38:01,6011893664860915,"fraud_Ruecker, Beer and Collier",shopping_net,66.33,Erin,Chavez,F,3379 Williams Common,Littleton,...,80120,39.5994,-105.0044,320420,Water engineer,1975-07-31,d032b8ea99af2af95ac989c875b7a96d,1338647881,40.009789,-104.423821
3,2019-12-10 13:12:18,3583635130604947,"fraud_Mueller, Gerhold and Mueller",health_fitness,54.97,Crystal,Gamble,F,899 Michele View Suite 960,Philadelphia,...,19149,40.0369,-75.0664,1526206,Structural engineer,1985-01-01,6bbec133456c2ead957f87c3385987f5,1355145138,39.988308,-75.324425
4,2019-03-20 15:34:01,372520049757633,fraud_Koelpin and Sons,misc_net,127.33,Lori,Ramirez,F,4293 Ramirez Squares,Ranier,...,56668,48.6031,-93.2977,136,Ceramics designer,2000-02-20,94002d99d62cc5286b718c66a420cdf2,1332257641,47.709857,-93.083608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2019-12-08 22:13:44,676372984911,fraud_Frami Group,entertainment,15.93,Vicki,Mendoza,F,3645 Atkins Island Apt. 238,Esbon,...,66941,39.7562,-98.4462,242,Tourism officer,1987-07-18,6a1fbcf9064c4255161637e574bf7ac7,1355004824,39.034667,-97.726968
96,2020-07-08 12:02:51,4003989662068504,fraud_Erdman-Schaden,personal_care,19.79,Chris,White,M,98897 Bennett Lodge,Bessemer,...,35022,33.3224,-86.9657,71463,Radio broadcast assistant,1989-02-08,b2a300f94623e3c29fffd2c8170cbf80,1373284971,32.544064,-86.390771
97,2019-07-07 23:10:54,3553629419254918,fraud_Kertzmann LLC,health_fitness,19.61,Sharon,Johnson,F,7202 Jeffrey Mills,Conway,...,98238,48.3400,-122.3456,85,"Research officer, political party",1984-09-01,1662764140cab95762820a470880aede,1341702654,47.986531,-121.508324
98,2020-05-05 16:59:57,30551643947183,fraud_Cruickshank-Mills,entertainment,103.87,Morgan,Smith,F,1441 Bradley Place,Grover,...,28073,35.1836,-81.4552,5621,Toxicologist,1973-11-14,9abe78251d7421e1bdce07987cb1b28f,1367773197,34.481424,-81.556253
99,2020-04-05 06:29:40,30131826429364,fraud_Doyle Ltd,grocery_pos,186.03,Brianna,Foley,F,57256 Raymond Ports,Knoxville,...,37932,35.9335,-84.1481,391389,"Designer, industrial/product",1994-04-22,85b77205a28e08f1c78f6922c756de39,1365143380,35.788308,-84.410438

In [4]:
sys.path.append('./src')

In [6]:
from pre_func import pre_func

In [7]:
sampled_df=pre_func(sampled_df)

In [8]:
sampled_df.head()

,amt,city_pop,dob,amt_z,cat_amt_z,hour_perc,distance,dist_z,category_x_food_dining,category_x_gas_transport,...,category_y_grocery_pos,category_y_health_fitness,category_y_home,category_y_kids_pets,category_y_misc_net,category_y_misc_pos,category_y_personal_care,category_y_shopping_net,category_y_shopping_pos,category_y_travel
0,65.19,2408,1997,-0.099555,-0.891566,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
1,65.19,2408,1997,-0.099555,0.736203,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
2,65.19,2408,1997,-0.099555,0.364960,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
3,65.19,2408,1997,-0.099555,1.724894,0.323221,84.997351,0.234272,False,False,...,False,False,False,False,False,False,False,False,False,False
4,65.19,2408,1997,-0.099555,-0.013625,0.323221,84.997351,0.234272,False,False,...,True,False,False,False,False,False,False,False,False,False